
:root {
  --primary-color: #3a4052
}

nav {
  background-color:tomato ;
  height: 70px;
}

.homeContainer {
  min-height: 100vh;
  background-image: url("./assets/images/flat-earth.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 0.9;
}

.submitSearchButton {
  margin-top: 50px;
}

#countryInput {
  background-color: blanchedalmond;
  opacity:0.9;
  padding: 20px;
  border: 2px solid #347aeb;
  color: #347aeb;
  font-size: 18px;
  font-family:'Bellota', cursive; 
  font-weight: bold;
  letter-spacing: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countryList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  flex-wrap: wrap;
}

.flag__image {
  height: 200px;
  border-radius: 5px; /* 5px rounded corners */
}

.card {
  background-color: floralwhite;
  height: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   transition: 1.2s;
 
}

.card:hover {
  cursor: pointer;
  height: 300px;
  background-color:tomato;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
  
}

.itemCount {
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  
}

.countrify-logo {
  height: 70px;
}

.countryPageFlag  {
  height: 300px;
  border: 2px solid black;
}

.countryPageBack {
 
 
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.basicDesc {
  color: firebrick;
  padding-bottom: 20px;
  font-weight: bold;
}

.countryPageTitle {
  color: coral;
  font-weight: bold;
}

.footer {
  background-color: tomato;
}

.countryAndFlag {
  margin-bottom: 100px;
}

.countryBasics {
  background-color: coral;
  width: 60vw;
  height: 300px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
 /* Add shadows to create the "card" effect */
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.726);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

.countryRegion {
  background-color: coral;
  width: 60vw;
  height: 300px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.726);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}


.countryOthers {
  background-color: coral;
  width: 60vw;
  height: 300px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
   /* Add shadows to create the "card" effect */
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.726);
   transition: 0.3s;
   border-radius: 5px; /* 5px rounded corners */
}

.sectionTitle {
  text-decoration: underline;
}

.propertyName {
  color: black;
  font-weight: bold;
}

span.propertyValue {
  color: #347aeb;
}

.galleryContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}

.imageItem1 {
  width: 400px;
  height: 300px;
  margin: 5px;
  border: 2px solid white;
}

.imageItem2 {
  width: 400px;
  height: 300px;
  margin: 5px;
  border: 2px solid white;
}

.imageItem3 {
  width: 400px;
  height: 300px;
  margin: 5px;
  border: 2px solid white;
}
.imageItem4 {
  width: 400px;
  height: 300px;
  margin: 5px;
  border: 2px solid white;
}
.imageItem5 {
  width: 400px;
  height: 300px;
  margin: 5px;
  border: 2px solid white;
}


.imageItem6 {
  width: 400px;
  height: 300px;
  margin: 5px;
  border: 2px solid white;
}


.imageItem7 {
  width: 400px;
  height: 300px;
  margin: 5px;
  border: 2px solid white;
}



.imageItem8 {
  width: 400px;
  height: 300px;
  margin: 5px;
  border: 2px solid white;
}

.countryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 50px;
}

.landingContainer {
  height: 100vh;
  background-image: url("./assets/images/destination.jpg");
  background-size: cover;
  margin:0;
  max-width: 100%;
  min-height: 100vh;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}